<img src="https://pics.me.me/where-are-the-turtles-me-anytime-im-looking-for-anything-34528830.png" alt="">
<li><a href="/register">Sign Up</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>